@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

@font-face {
  font-family: 'NanumSquareNeoVariable';
  src: url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot');
  src:
    url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.eot?#iefix')
      format('embedded-opentype'),
    url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.woff') format('woff'),
    url('https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeo-Variable.ttf')
      format('truetype');
}

@layer base {
  html {
    @apply text-gray-900;
  }

  * {
    margin: 0;
    padding: 0;
    word-break: keep-all;
  }
}

@layer components {
  .heading {
    font-weight: bold;
    font-size: 32px;
    line-height: 42px;
  }

  .subTitle1 {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
  }

  .subTitle2 {
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
  }

  .body1 {
    font-size: 14px;
    line-height: 20px;
  }

  .body2 {
    font-size: 12px;
    line-height: 18px;
  }

  .caption {
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
  }
}
